@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Cherry+Bomb+One&family=Mrs+Sheppards&family=Sarina&display=swap');

@import "tailwindcss";
body {
  background-color: #f8f2df;
  color: #2B1B17;
}

.sarina-regular {
  font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
}

.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* HTML: <div class="wavy-box"></div> */


.hero-overlay {
    background: linear-gradient(270deg, #fefefe, #a5e88d, #79e054,#fefefe);
    background-size: 600% 600%;

    -webkit-animation: hero-overlay 34s ease infinite;
    -moz-animation: hero-overlay 34s ease infinite;
    animation: hero-overlay 34s ease infinite;
}

@-webkit-keyframes hero-overlay {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes hero-overlay {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes hero-overlay {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}